absl-py==2.5.0
ackermann-msgs==2.0.2
action-msgs==2.0.4
action-tutorials-interfaces==0.33.11
action-tutorials-py==0.33.11
actionlib-msgs==5.3.8
actuator-msgs==0.0.1
ament-cmake-test==2.5.6
ament-copyright==0.17.5
ament-cppcheck==0.17.5
ament-cpplint==0.17.5
ament-flake8==0.17.5
ament-index-python==1.8.4
ament-lint==0.17.5
ament-lint-cmake==0.17.5
ament-package==0.16.5
ament-pep257==0.17.5
ament-uncrustify==0.17.5
ament-xmllint==0.17.5
angles==1.16.1
asttokens==3.0.2
astunparse==1.6.3
attrs==26.1.0
bleach==6.4.0
builtin-interfaces==2.0.4
certifi==2026.7.22
charset-normalizer==3.5.1
cloudpickle==3.1.2
comm==0.2.3
composition-interfaces==2.0.4
contourpy==1.4.0
control-msgs==5.9.0
controller-manager==4.45.2
controller-manager-msgs==4.45.2
cv-bridge==4.1.0
cycler==0.12.1
debugpy==1.8.22
demo-nodes-py==0.33.11
diagnostic-msgs==5.3.8
diagnostic-updater==4.2.7
domain-coordinator==0.12.1
example-interfaces==0.12.1
examples-rclpy-executors==0.19.7
examples-rclpy-minimal-action-client==0.19.7
examples-rclpy-minimal-action-server==0.19.7
examples-rclpy-minimal-client==0.19.7
examples-rclpy-minimal-publisher==0.19.7
examples-rclpy-minimal-service==0.19.7
examples-rclpy-minimal-subscriber==0.19.7
executing==2.2.1
fastjsonschema==2.22.2
flatbuffers==25.12.19
fonttools==4.65.0
gast==0.7.0
generate-parameter-library-py==0.7.3
geometry-msgs==5.3.8
google-pasta==0.2.0
gps-msgs==2.1.2
graph-msgs==0.2.0
grpcio==1.84.0
h5py==3.14.0
idna==3.19
image-geometry==4.1.0
interactive-markers==2.5.5
ipykernel==7.3.0
ipython==9.17.1
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.3
jedi==0.20.0
-e git+ssh://git@github.com/sudishp123/ros2_ws.git@1f617029dd1654e40c7efd765bdc0e2d1b0ec063#egg=jetcobot_driver&subdirectory=build/jetcobot_driver
Jinja2==3.1.6
joblib==1.6.0
joint-state-publisher==2.4.1
joint-state-publisher-gui==2.4.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter_client==8.10.0
jupyter_core==5.9.1
jupyterlab_widgets==3.0.17
jupytext==1.19.5
kaggle==2.2.4
kagglesdk==0.1.37
keras==3.15.1
kiwisolver==1.5.1
laser-geometry==2.7.2
launch==3.4.11
launch-param-builder==0.1.1
launch-ros==0.26.12
launch-testing==3.4.11
launch-testing-ros==0.26.12
launch-xml==3.4.11
launch-yaml==3.4.11
libclang==18.1.1
lifecycle-msgs==2.0.4
logging-demo==0.33.11
map-msgs==2.4.1
marine-acoustic-msgs==2.1.0
markdown-it-py==4.2.0
MarkupSafe==3.0.3
matplotlib==3.11.2
matplotlib-inline==0.2.2
mdit-py-plugins==0.6.1
mdurl==0.1.2
message-filters==4.11.17
ml_dtypes==0.6.0
more-interfaces==0.0.0
moveit-configs-utils==2.12.4
moveit-msgs==2.6.0
-e git+ssh://git@github.com/sudishp123/ros2_ws.git@1f617029dd1654e40c7efd765bdc0e2d1b0ec063#egg=my_package&subdirectory=build/my_package
namex==0.1.0
narwhals==2.26.0
nav-msgs==5.3.8
nbformat==5.11.1
nest-asyncio2==1.7.2
numpy==2.5.3
object-recognition-msgs==2.0.0
octomap-msgs==2.0.1
opt_einsum==3.4.0
optree==0.20.0
osrf-pycommon==2.1.7
packaging==26.3
pal-statistics==2.7.0
pal-statistics-msgs==2.7.0
pandas==3.0.5
parso==0.8.7
pcl-msgs==1.0.0
pendulum-msgs==0.33.11
pexpect==4.9.0
pillow==12.3.0
platformdirs==4.11.8
prompt_toolkit==3.0.53
protobuf==7.36.1
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.4
-e git+ssh://git@github.com/sudishp123/ros2_ws.git@1f617029dd1654e40c7efd765bdc0e2d1b0ec063#egg=py_pubsub&subdirectory=build/py_pubsub
-e git+ssh://git@github.com/sudishp123/ros2_ws.git@1f617029dd1654e40c7efd765bdc0e2d1b0ec063#egg=py_srvcli&subdirectory=build/py_srvcli
Pygments==2.21.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.3
-e git+ssh://git@github.com/sudishp123/ros2_ws.git@1f617029dd1654e40c7efd765bdc0e2d1b0ec063#egg=python_parameters&subdirectory=build/python_parameters
python-qt-binding==2.2.2
python-slugify==9.0.0
PyYAML==6.0.3
pyzmq==27.2.0
qt-dotgraph==2.7.6
qt-gui==2.7.6
qt-gui-cpp==2.7.6
qt-gui-py-common==2.7.6
quality-of-service-demo-py==0.33.11
rcl-interfaces==2.0.4
rclpy==7.1.11
rcutils==6.7.6
referencing==0.37.0
requests==2.34.2
resource-retriever==3.4.4
rich==15.0.0
rmw-dds-common==3.1.1
ros-gz-bridge==1.0.22
ros-gz-interfaces==1.0.22
ros-gz-sim==1.0.22
-e git+ssh://git@github.com/sudishp123/ros2_ws.git@1f617029dd1654e40c7efd765bdc0e2d1b0ec063#egg=ros2_controllers_test_nodes&subdirectory=build/ros2_controllers_test_nodes
ros2action==0.32.10
ros2bag==0.26.11
ros2bag-mcap-cli==0.26.11
ros2bag-sqlite3-cli==0.26.11
ros2cli==0.32.10
ros2component==0.32.10
-e git+ssh://git@github.com/sudishp123/ros2_ws.git@1f617029dd1654e40c7efd765bdc0e2d1b0ec063#egg=ros2controlcli&subdirectory=build/ros2controlcli
ros2doctor==0.32.10
ros2interface==0.32.10
ros2launch==0.26.12
ros2lifecycle==0.32.10
ros2multicast==0.32.10
ros2node==0.32.10
ros2param==0.32.10
ros2pkg==0.32.10
ros2plugin==5.4.5
ros2run==0.32.10
ros2service==0.32.10
ros2topic==0.32.10
rosbag2-interfaces==0.26.11
rosbag2-py==0.26.11
rosgraph-msgs==2.0.4
rosidl-adapter==4.6.9
rosidl-cli==4.6.9
rosidl-cmake==4.6.9
rosidl-generator-c==4.6.9
rosidl-generator-cpp==4.6.9
rosidl-generator-py==0.22.2
rosidl-generator-rs==0.4.12
rosidl-generator-type-description==4.6.9
rosidl-parser==4.6.9
rosidl-pycommon==4.6.9
rosidl-runtime-py==0.13.2
rosidl-typesupport-c==3.2.3
rosidl-typesupport-cpp==3.2.3
rosidl-typesupport-fastrtps-c==3.6.4
rosidl-typesupport-fastrtps-cpp==3.6.4
rosidl-typesupport-introspection-c==4.6.9
rosidl-typesupport-introspection-cpp==4.6.9
rpds-py==2026.6.3
rpyutils==0.4.2
rqt-action==2.2.1
rqt-bag==1.5.6
rqt-bag-plugins==1.5.6
rqt-console==2.2.2
-e git+ssh://git@github.com/sudishp123/ros2_ws.git@1f617029dd1654e40c7efd765bdc0e2d1b0ec063#egg=rqt_controller_manager&subdirectory=build/rqt_controller_manager
rqt-graph==1.5.6
rqt-gui==1.6.4
rqt-gui-py==1.6.4
-e git+ssh://git@github.com/sudishp123/ros2_ws.git@1f617029dd1654e40c7efd765bdc0e2d1b0ec063#egg=rqt_joint_trajectory_controller&subdirectory=build/rqt_joint_trajectory_controller
rqt-msg==1.5.2
rqt-plot==1.4.5
rqt-publisher==1.7.3
rqt-py-common==1.6.4
rqt-py-console==1.2.3
rqt-reconfigure==1.6.4
rqt-service-caller==1.2.2
rqt-shell==1.2.3
rqt-srv==1.2.3
rqt-topic==1.7.5
scikit-learn==1.9.1
scipy==1.18.1
sckit==0.0.5
seaborn==0.13.2
sensor-msgs==5.3.8
sensor-msgs-py==5.3.8
service-msgs==2.0.4
setuptools==84.0.0
shape-msgs==5.3.8
simulation-interfaces==1.5.1
six==1.17.0
skillsnetwork==0.21.10
srdfdom==2.0.7
sros2==0.13.6
stack-data==0.6.3
statistics-msgs==2.0.4
std-msgs==5.3.8
std-srvs==5.3.8
stereo-msgs==5.3.8
teleop-twist-keyboard==2.4.1
tensorflow==2.21.0
termcolor==3.3.0
test-msgs==2.0.4
text-unidecode==1.3
tf2-geometry-msgs==0.36.21
tf2-kdl==0.36.21
tf2-msgs==0.36.21
tf2-py==0.36.21
tf2-ros-py==0.36.21
tf2-sensor-msgs==0.36.21
tf2-tools==0.36.21
theora-image-transport==4.0.7
threadpoolctl==3.7.0
topic-monitor==0.33.11
tornado==6.5.10
tqdm==4.70.1
traitlets==5.16.1
trajectory-msgs==5.3.8
turtlesim==1.8.3
tutorial-interfaces==0.0.0
type-description-interfaces==2.0.4
typeguard==4.6.0
typing_extensions==4.16.0
unique-identifier-msgs==2.5.1
urdfdom-py==1.2.1
urllib3==2.8.0
vision-msgs==4.1.1
visualization-msgs==5.3.8
warehouse-ros-mongo==2.0.3
wcwidth==0.8.3
webencodings==0.6.1
wheel==0.48.0
widgetsnbextension==4.0.16
wrapt==2.4.1
xacro==2.1.1
